%form{:action => '/query_weather', :method => 'POST'}
  %label{:for => 'city-inpt'} Город
  %br
  %input#city-inpt{:name => 'city'}
  %br
  %input#favorite-checkbox{:name => 'add_favorite', :type => 'checkbox'}
  %label{:for => 'favorite-checkbox'} Добавить в избранное
  %br
  %input{:type => 'submit', :value => "Отправить"}


- if !@answer.nil?
  = render :partial => 'answer', :locals => { :answer => @answer }
